@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: royalblue;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

/* NAVBAR */
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.navbar {
    background-color: var(--primary-color);
    color: white;
    height: 70px;
}

.navbar .flex {
    justify-content: space-between;
}


.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px solid white;
}

/* SHOWCASE */
.showcase {
    background-color: var(--primary-color);
    height: 400px;
    position: relative;
    color: white;
}

.showcase::before,
.showcase::after {
    position: absolute;
    content: '';
    height: 100px;
    bottom: -60px;
    left: 0;
    right: 0;
    background-color: white;
    transform: skewY(-3deg);
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
    gap: 30px;
    grid-template-columns: 55% 45%;
}

.showcase-form {
    position: relative;
    top: 40px;
    height: 350px;
    width: 400px;
    padding: 10px;
    padding-top: 30px;
    z-index: 100;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form .form-control input:focus {
    outline: none;
}

.form-control input[type="text"],
.form-control input[type="email"] {
    border: none;
    border-bottom: 1px solid #bbb;
    width: 100%;
    padding: 5px;
    font-size: 1rem;
}

/* STATS */
.stats {
    padding-top: 100px;
}

.container .stats-heading {
    max-width: 500px;
    margin: auto;
}

.stats .grid h3 {
    font-size: 28px;
}

.stats .grid p {
    font-size: 1rem;
    font-weight: bold;
}

/* CLOUD */
.cloud .grid {
    grid-template-columns: 4fr 3fr;
}

/* Languages */
.languages .flex {
    flex-wrap: wrap;
}

.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.languages .card:hover {
    transform: translateY(-10px);
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Footer */
.footer .social a {
    margin: 0 5px;
}